// Global Foundation Settings
@import "settings";
@import "compass/css3";
// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

 @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "foundation/components/page_themes";

    html ,body {height:100%}
.totalRow {
  width: 100%;
  max-width:100%;
}
.totalRow:before {
  content:"";
  clear:both;
  width:100%;
  display:block;
}

.footer {
  @include themes_constructor(#000);
  color:#fff;
  h1, h2, h3, h4, h5, h6 {color: #ffffff}
}

#header {
 .inHeader {padding-top: 20.5px;text-align:center}
        h2 {font-weight:800;font-size:2em;letter-spacing: -1px;
        strong {font-weight:800;color:#000}
        }
}
/*Ajout de expand pour transparence sur titlearea  */

.top-bar {
  margin-bottom:0;
  &.expanded {
    height: auto;
    background: transparent;

    .title-area {  background: transparent; }
  }
}

/***********globalContainer************/
#containerGlobal {
  height:100%;
  width:100%;
}
/***********left Bar ************/

.leftCol {
  float:left;
  background-color:$black;
  height:100%;
  left: 0;
  padding:1em;
  top: 0;
  width:100px  ;
  z-index: 10;
  overflow:hidden;
  position: fixed;
  @include transition-property(width);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
   #logobb {
     width:64px;
	 height:110px;
     top:0;
     position:relative;
     z-index:20;
     margin:5%;
   }
}
.leftCol.over{
         width:200px  ;
         #logobb {
          height:auto;
           width:80%;margin:5% 10%;
        }
}
.rightCol {
  float:right;
  height:100%;
  left: 0;
  top: 0;
}

/********************************/

       /*TOP Bar */
@media #{$topbar-media-query} {


    .top-bar {
      /*background: $topbar-bg;
       margin-bottom: $topbar-margin-bottom;  */
      margin-bottom:0;
      background-color: transparent;
      @include clearfix; overflow: visible;
      .toggle-topbar { display: none; }

      .title-area { float: $default-float; }
      .name h1 a { width: auto; }

      input,
      .button {
        line-height: 2em;
        font-size: emCalc(14px);
        height: 2em;
        padding: 0 10px;
        position: relative;
        top: 8px;
      }

      &.expanded { background: $topbar-bg; }
    }

    .contain-to-grid .top-bar { max-width: $row-width; margin: 0 auto; margin-bottom: $topbar-margin-bottom; }

    .top-bar-section {
      @include single-transition(none,0,0);
      #{$default-float}: 0 !important;

      ul {
        /*addon*/
        background-color: transparent;

        width: auto;
        height: auto !important;
        display: inline;

        li {
          float: $default-float;
          .js-generated { display: none; }
        }
      }

      li {
        a:not(.button) {
          padding: 0 $topbar-height / 3;
          line-height: $topbar-height;
          /*background: $topbar-bg;      */
          background: transparent;
          &:hover { background: adjust-color($topbar-dropdown-bg, $lightness: $topbar-link-hover-lightness); }
        }

                /** addon nav**/
        a.niv1:not(.button) {
          line-height: $topbar-height;
          line-height:3em;
          padding: 0 $topbar-height / 3;
          /*background: $topbar-bg;      */
          background: transparent;
          &:hover { background: adjust-color($topbar-dropdown-bg, $lightness: $topbar-link-hover-lightness); }
        }
        /** addon nav**/
      }

      .has-dropdown {
        & > a {
          padding-#{$opposite-direction}: $topbar-dropdown-toggle-size * 7 !important;

          &:after {
            @include css-triangle($topbar-dropdown-toggle-size, rgba($topbar-dropdown-toggle-color, $topbar-dropdown-toggle-alpha), top);
            margin-top: -($topbar-dropdown-toggle-size / 2);
          }
        }

        &.moved { position: relative;
          & > .dropdown { visibility: hidden; }
        }

        &:hover,
        &:active {
          & > .dropdown {
            visibility: visible;
          }
        }

        .dropdown li.has-dropdown {
          & > a {
            &:after {
              border: none;
              content: "\00bb";
              margin-top: -15px;
              #{$opposite-direction}: 5px;
            }
          }
        }

      }

      .dropdown {
        #{$default-float}: 0;
        bottom:  $topbar-height;
        background: transparent;
        min-width: 100%;

        li {
          a {
            color: $topbar-dropdown-link-color;
            line-height: 1;
            white-space: nowrap;
            padding: 7px $topbar-height / 3;
            background: lighten($topbar-bg, 5%);
          }

          label {
            white-space: nowrap;
            background: lighten($topbar-bg, 5%);
          }

          // Second Level Dropdowns
          .dropdown {
            #{$default-float}: 100%;
            top: 0;
          }
        }
      }

      & > ul > .divider,
      & > ul > [role="separator"] {
        border-bottom: none;
        border-top: none;
        border-#{$opposite-direction}: solid 1px lighten($topbar-bg, 10%);
        border-#{$default-float}: solid 1px darken($topbar-bg, 10%);
        clear: none;
        height: $topbar-height;
        width: 0px;
      }

      .has-form {
        background: $topbar-bg;
        padding: 0 $topbar-height / 3;
        height: $topbar-height;
      }

      // Position overrides for ul.right
      ul.right {
        li .dropdown {
          left: auto;
          right: 0;

          li .dropdown { right: 100%; }
        }
      }

    }


}

@media #{$small} {
  #header {

    .inHeader {padding-top: 120.5px;text-align:left;}}
}
.totalRow
  {
  .section-container{
    height:100%;
    background: rgba(0,0,0,0);
    position: relative;
  }

}
.stage {
  background:#fff;
  position:relative;
  &.st-1 {
    background:#c0ff44;
    @include box-shadow(0 0 20px #288)
  }

  &.st-2 {
    background-image: url('images/filter-blend_bb.jpg');
    height:480px  ;
    overflow:hidden;

  }
}
.row .rowcenter {     @include grid-row;;}